<!DOCTYPE html>
{% extends 'Index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1></h1>
</div>
<br>

<div class="col-8">
    <div class="row g-4">
        {% for x in explore %}
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Explore Display</h6>
            <form>
                <h4>
                    Name
                </h4>
                <p>{{x.explorename}}</p>

                <h4>
                    Dsecription
                </h4>
                <p> {{x.exploredescription}}</p>


                <h4>
                    Image
                </h4>
                <img src="{{x.image.url}}" height="50px" width="50px">
                <br> <br>

                 <a href="{% url 'explore_edit' exp_id=x.id %}" class="btn btn-primary">Edit</a>


               <a href="{% url 'explore_delete' exp_id=x.id %}" class="btn btn-dark">Delete</a>


            </form>
        </div>
        {% endfor %}


    </div>

</div>

</body>
</html>
{% endblock %}